*{
    margin: 0;
    padding: 0;
}
.part1{
    width: 100%;
    height: 50vh;
    background-image: url('../images/aboutbg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
  justify-content: center;
  align-items: center;
}
.part2download{
    display: flex;
    flex-direction: column;
}