* {
  padding: 0;
  margin: 0;
}
/* homecss.css */
.part1-home {
  height: 70vh;

  background-image: url('../images/homebg.gif');
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#pin{
  background-color: rgb(0, 123, 255);
  border-radius: 20px;
}
#pin:hover{
  background-color: orange;
}
.align-middle {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

h1 {
  margin: 10px;
}
.part2 {
  height: 80vh;
  color: white;
  display: flex;
  font-size: larger;
}
.reasons{
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: space-between;
.row{
  display: flex;
  justify-content: space-around;

}
}
.reasons span{
    height: auto;
    width: auto;
}
.video iframe{
   width:500px;
   height:315px;
}
/* Add your existing CSS styles here */

/* For screens with a maximum width of 767px (mobile devices) */
@media screen and (max-width: 767px) {
  .part1 {
    padding: 2rem 1rem; /* Adjust the padding for smaller screens */
  }

  .part2 {
    flex-direction: column; /* Change to a vertical layout for smaller screens */
    font-size: medium;
    height: 120vh;
  }
  .part2 div {
    margin: 1rem 0; /* Add some spacing between the content on smaller screens */
  }
  .video iframe {
    width: 250px; /* Make the embedded video full width on smaller screens */
    height: 250px; /* Adjust the height to fit the video proportionally */

  }
  .cr {
    font-size: small;
  }
  .reasons{
    font-size: smaller;
    word-wrap: break-word;
  }
  .row{
    flex-direction: column;
  }
}
